h1, h2, h3, h4, h5, h6, a, button {
    font-family: "PetcoCircularTT-Bold", arial !important;
}
p {
    font-family: "PetcoCircularTT-Regular", arial !important;
}

*{ margin : 0; padding : 0; }
img{ width : 100%; }

.bp-main-wrapper a{
    display: block;
    cursor: pointer;
}

.bp-main-wrapper .cta-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-decoration: none;
}

.bp-main-wrapper .cta-box a{
    color : #fff;
    background-color : #00205b;
    height: 54px;
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-decoration: none;
    padding: 0 30px;
    border-radius: 5px;
    width: 200px;
}

.bp-main-wrapper .section-title{
    font-size: 25px;
    font-family: "PetcoCircularTT-Bold", arial !important;
    padding: 50px 15px;
    text-align: center;
}

.bp-main-wrapper .container{
    max-width: 1440px;
    margin: 0 auto;
}

.bp-main-wrapper .container-fluid{
    width: 100%;
}

.bp-main-wrapper .flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.conair-prep{ color :#A6549C;}
.conair-groom{ color :#1E839A;}
.conair-finish{ color :#EC6432;}


/* Top POV section */
.bp-main-wrapper .top-pov{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A6549C;
}

.bp-main-wrapper .top-pov .top-pov__textarea{
    width: 40%;
    position: relative;
    padding: 0 0 0 5%;
}

.bp-main-wrapper .top-pov .top-pov__textarea .top-pov__textarea--title{
    padding: 5% 0;
    color: #fff;
    font-size: 50px;
    font-family: "PetcoCircularTT-Bold", arial !important;
}

.bp-main-wrapper .top-pov .top-pov__textarea .top-pov__textarea--title sup{
    font-size: 28px;
}

.bp-main-wrapper .top-pov .top-pov__textarea .top-pov__textarea--sub-title{
    color: #fff;
    font-size: 16px;
    font-family: "PetcoCircularTT-Bold", arial !important;
}

.bp-main-wrapper .top-pov .top-pov__textarea .top-pov__textarea--logo{
    max-width: 350px;
}

.bp-main-wrapper .container-fluid .bg-elements{
    position: absolute;
    left: -3%;
    top: -3%;
    width: 15%;
    opacity: 0.4;
}

.bp-main-wrapper .top-pov .top-pov__img-area{
    width: 60%;
    position: relative;
}

.bp-main-wrapper .top-pov .top-pov__img-area .top-pov__img-area--full-img{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 35% 100%);
    z-index: 101;
}

.bp-main-wrapper .top-pov .top-pov__img-area .top-pov__img-area--full-img img{
    vertical-align: middle;
}

.bp-main-wrapper .top-pov .top-pov__img-area .top-pov__img-area--thumb{
    position: absolute;
    max-width: 215px;
    top: 20%;
    z-index: 100;
}

.bp-main-wrapper .top-pov .top-pov__img-area .top-pov__img-area--border{
    position: absolute;
    top: 0;
    background: #61BDD2;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 35% 100%);
    width: 100%;
    height: 100%;
    left: -10px;
}

.bp-main-wrapper .top-pov .top-pov__img-area .top-pov__img-area--thumb img{
    border: 7px solid #61BDD2;
}

/* Home Grooming */
/* .bp-main-wrapper .home-grooming .home-grooming__single-item{

} */

.bp-main-wrapper .home-grooming .flex-container{
    justify-content: space-around;
}

.bp-main-wrapper .home-grooming .home-grooming__single-item .home-grooming__single-item--img{
    max-width: 220px;
}

.bp-main-wrapper .home-grooming .home-grooming__single-item .home-grooming__single-item--img img{
    border-radius: 50%;
}

.bp-main-wrapper .home-grooming .home-grooming__single-item .home-grooming__single-item--steps{
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-size: 18px;
    color: #1E839A;
    padding: 30px 15px !important;
}

.bp-main-wrapper .home-grooming .home-grooming__single-item:first-child .home-grooming__single-item--steps{
    color: #A6549C;
}

.bp-main-wrapper .home-grooming .home-grooming__single-item:last-child .home-grooming__single-item--steps{
    color: #EC6432;
}

.bp-main-wrapper .home-grooming .home-grooming__single-item .home-grooming__single-item--copy{
    max-width: 250px;
    font-family: "PetcoCircularTT-Regular", arial !important;
    font-size: 16px;
    line-height: 20px;
}

.bp-main-wrapper .home-grooming .home-grooming__single-item .home-grooming__single-item--img,
.bp-main-wrapper .home-grooming .home-grooming__single-item .home-grooming__single-item--steps,
.bp-main-wrapper .home-grooming .home-grooming__single-item .home-grooming__single-item--copy{
    padding: 0 15px;
    text-align: center;
    margin: 0 auto;
}

/* Carousel Sections */
.bp-main-wrapper .carousel-sections{
    padding: 50px 15px;
}

.bp-main-wrapper .carousel-sections .container{
    padding: 30px 0;
}

.bp-main-wrapper .carousel-sections .carousel-sections__feature-img{
    padding-right: 30px;
}

.bp-main-wrapper .carousel-sections .carousel-sections__carousel-list{
    padding-right: 15px;
}

.bp-main-wrapper .carousel-sections .carousel-sections__carousel-list .carousel-sections__carousel-list--breadcrumb{
    padding-bottom: 15px;
    border-bottom: 1px solid #A6549C;
}

.bp-main-wrapper .carousel-sections .carousel-sections__carousel-list .carousel-sections__carousel-list--breadcrumb{
    justify-content: space-between;
}

.bp-main-wrapper .carousel-sections .carousel-sections__carousel-list .carousel-sections__carousel-list--breadcrumb h3{
    font-size: 25px;
    font-family: "PetcoCircularTT-Bold", arial !important;
}

.bp-main-wrapper .carousel-sections .carousel-sections__carousel-list .carousel-sections__carousel-list--breadcrumb a{
    color: #001952;
    font-size: 16px;
    font-family: "PetcoCircularTT-Bold", arial !important;
    text-decoration: underline;
}

.bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper{
    padding: 20px 0;
    justify-content: space-around;
}

.bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper .single-product{
    width: calc(100%/3 - 15px);
}

.bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper .single-product .single-product__img{
    max-width: 190px;
    margin: 0 auto;
}

.bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper .single-product .single-product__headline{
    font-size: 13px;
    font-family: "PetcoCircularTT-Regular", arial !important;
    display: block;
    padding: 20px 0;
    min-height: 50px;
}

.bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper .single-product .single-product__cta a{
    font-size: 16px;
    color: #001952;
    font-family: "PetcoCircularTT-Bold", arial !important;
}


/* Video Sections */
.bp-main-wrapper .video-sections .video-sections__feature-video{
    width: 49%;
    padding: 10px 15px;
}

.bp-main-wrapper .video-sections .flex-container{
    justify-content: space-between;
    align-items: flex-start;
}

.bp-main-wrapper .video-sections .video-sections__video-list{
    flex-wrap: wrap;
    width : 49%;
    justify-content: space-around;
}

.bp-main-wrapper .video-sections .video-sections__video-list .video-sections__video-list--single-video{
    width : 45%;
    padding: 10px;
}


/* Responsive Quries */
.m-hide {
    display: block;
}
.d-hide{
    display: none;
}

@media screen and (min-width: 1201px) and (max-width:1400px) {
    /* Video Sections */
    .bp-main-wrapper .video-sections .video-sections__feature-video iframe{
        height: 550px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {

    /* Top POV section */
    .bp-main-wrapper .top-pov .top-pov__textarea .top-pov__textarea--title{
        font-size: 36px;
    }

    .bp-main-wrapper .top-pov .top-pov__textarea .top-pov__textarea--title sup{
        font-size: 18px;
    }

    .bp-main-wrapper .top-pov .top-pov__textarea .top-pov__textarea--sub-title{
        font-size: 14px;
        max-width: 310px;
    }

    .bp-main-wrapper .top-pov .top-pov__textarea .top-pov__textarea--logo{
        max-width: 250px;
    }

    .bp-main-wrapper .top-pov .top-pov__img-area .top-pov__img-area--thumb{
        max-width: 150px;
    }

    .bp-main-wrapper .top-pov .top-pov__img-area .top-pov__img-area--border{
        left: -6px;
    }

    .bp-main-wrapper .top-pov .top-pov__img-area .top-pov__img-area--thumb img{
        border: 5px solid #61BDD2;
    }

    /* Carousel Sections */
    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list .carousel-sections__carousel-list--breadcrumb {
        padding-bottom: 10px;
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper .single-product {
        width: calc(100%/3 - 10px);
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper .single-product .single-product__img {
        max-width: 120px;
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper .single-product .single-product__headline {
        padding: 15px 0;
        min-height: 45px;
    }

    /* Video Sections */
    .bp-main-wrapper .video-sections .video-sections__feature-video iframe{
        height: 472px;
    }

}
@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* Top POV section */
    .bp-main-wrapper .top-pov .top-pov__textarea .top-pov__textarea--title{
        font-size: 30px;
        padding: 3% 0;
    }

    .bp-main-wrapper .top-pov .top-pov__textarea .top-pov__textarea--title sup{
        font-size: 18px;
    }

    .bp-main-wrapper .top-pov .top-pov__textarea .top-pov__textarea--sub-title{
        font-size: 12px;
        max-width: 270px;
    }

    .bp-main-wrapper .top-pov .top-pov__textarea .top-pov__textarea--logo{
        max-width: 200px;
    }

    .bp-main-wrapper .top-pov .top-pov__img-area .top-pov__img-area--thumb{
        max-width: 130px;
        top: 20%;
    }

    .bp-main-wrapper .top-pov .top-pov__img-area .top-pov__img-area--border{
        left: -6px;
    }

    .bp-main-wrapper .top-pov .top-pov__img-area .top-pov__img-area--thumb img{
        border: 5px solid #61BDD2;
    }

    /* Home Grooming */
    .bp-main-wrapper .home-grooming .home-grooming__single-item .home-grooming__single-item--img {
        max-width: 180px;
    }

    /* Carousel Sections */
    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper {
        padding: 10px 0 15px;
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list .carousel-sections__carousel-list--breadcrumb {
        padding-bottom: 5px;
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper .single-product {
        width: calc(100%/3 - 5px);
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper .single-product .single-product__img {
        max-width: 90px;
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper .single-product .single-product__headline {
        padding: 10px 0;
        min-height: 50px;
    }



    /* Video Sections */
    .bp-main-wrapper .video-sections .video-sections__feature-video iframe{
        height: 352px;
    }

    .bp-main-wrapper .video-sections .video-sections__video-list .video-sections__video-list--single-video {
        width: 44%;
    }

}
@media screen and (max-width: 767px) {
    .m-hide {
    display: none !important;
    }
    .d-hide{
        display: block;
    }

    .bp-main-wrapper .flex-container{
        flex-wrap: wrap;
    }

    .bp-main-wrapper .section-title {
        font-size: 25px;
        font-family: "PetcoCircularTT-Regular", arial !important;
    }

    /* Top POV section */
    .bp-main-wrapper .top-pov{
        flex-wrap: wrap;
    }

    .bp-main-wrapper .top-pov .top-pov__textarea{
        width: 100%;
        order: 2;
        text-align: center;
        padding: 15px 15px 50px;
    }
    .bp-main-wrapper .top-pov .top-pov__textarea .top-pov__textarea--title{
        font-size: 30px;
        padding: 3% 0;
    }

    .bp-main-wrapper .top-pov .top-pov__textarea .top-pov__textarea--title sup{
        font-size: 18px;
    }

    .bp-main-wrapper .top-pov .top-pov__textarea .top-pov__textarea--sub-title{
        font-size: 12px;
        max-width: 80%;
        margin: 0 auto;
    }

    .bp-main-wrapper .top-pov .top-pov__textarea .top-pov__textarea--logo{
        max-width: 180px;
        margin: 0 auto;
        padding: 15px 0 0;
    }

    .bp-main-wrapper .top-pov .top-pov__img-area{
        width: 100%;
    }

    .bp-main-wrapper .top-pov .top-pov__img-area .top-pov__img-area--full-img {
        clip-path: none;
    }

    .bp-main-wrapper .top-pov .top-pov__img-area .top-pov__img-area--full-img img{
        border-bottom: 8px solid #61BDD2;
    }

    .bp-main-wrapper .top-pov .top-pov__img-area .top-pov__img-area--thumb{
        max-width: 150px;
    }

    /* Home Grooming */
    .bp-main-wrapper .home-grooming .home-grooming__single-item:nth-child(2){
        padding: 50px 15px;
    }

    /* Carousel Sections */
    .bp-main-wrapper .carousel-sections{
        padding: 50px 15px;
    }

    .bp-main-wrapper .carousel-sections .container{
        padding: 30px 0;
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__feature-img{
        padding-right: 0;
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list{
        padding-right: 0;
        padding: 0;
    }

    .carousel-sections__carousel-list .cta-mobile a{
        font-size: 12px;
        color: #001952;
        font-family: "PetcoCircularTT-Bold", arial !important;
        text-align: center;
        display: block;
        padding: 20px 0 0;
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list .carousel-sections__carousel-list--breadcrumb{
        padding-bottom: 10px;
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list .carousel-sections__carousel-list--breadcrumb{
        justify-content: space-between;
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list .carousel-sections__carousel-list--breadcrumb h3{
        color: #A6549C;
        font-size: 25px;
    }

    .bp-main-wrapper .carousel-sections .carousel_groom .carousel-sections__carousel-list{
        order: 2;
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list .carousel-sections__carousel-list--breadcrumb a{
        color: #001952;
        font-size: 16px;
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper{
        padding: 20px 0;
        justify-content: space-around;
        overflow: auto;
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper .flex-container{
        width: 190%;
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper .single-product{
        width: 60%
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper .single-product .single-product__cta a {
        font-size: 12px;
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper .single-product .single-product__img{
        max-width: 190px;
        margin: 0 auto;
    }

    .bp-main-wrapper .carousel-sections .carousel-sections__carousel-list--wrapper .single-product .single-product__headline{
        font-size: 13px;
        padding: 20px 0;
        min-height: 50px;
    }

    /* Video Sections */
    .bp-main-wrapper .video-sections .video-sections__feature-video{
        width: 100%;
    }

    .bp-main-wrapper .video-sections .video-sections__feature-video iframe{
        height: 352px;
    }

    .bp-main-wrapper .video-sections .video-sections__wrapper{
        overflow: auto;
        align-items: flex-start;
        padding: 15px;
    }

    .bp-main-wrapper .video-sections .video-sections__video-list{
        width: 400%;
        flex-wrap: nowrap;
        padding: 0;
    }

    .bp-main-wrapper .video-sections .video-sections__video-list .video-sections__video-list--single-video {
        width: 100%;
    }

    .bp-main-wrapper .video-sections .video-sections__video-list .video-sections__video-list--single-video:first-child{
        padding-left: 0;
    }


}
@media screen and (max-width: 480px) {



}

@media screen and (min-width:480px) and (max-width: 767px) {

}

@media screen and (max-width: 320px) {

}
