@font-face {
    font-family: 'PetcoCircular TT';
    src: url('PetcoCircularTT-Regular.woff2') format('woff2'),
        url('PetcoCircularTT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PetcoCircular TT';
    src: url('PetcoCircularTT-Bold.woff2') format('woff2'),
        url('PetcoCircularTT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

