/*
 * Legal Disclaimer
 *
 * These web fonts are licensed exclusively for use on the following:
 * All domains belonging to Petco
 *
 * It is strictly forbidden to download or use these fonts on any other website domain or media.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2020
 */


/*Default css*/
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* Default CSS */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
span,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}
img {
    vertical-align: middle;
}
p a {
    background: transparent !important;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
textarea {
    outline: none !important;
}

audio,
canvas,
video {
    display: inline-block;
}
a {
    outline: none !important;
}
audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #a7f4f6;
    color: #555;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    outline: none !important;
}
input {
    outline: none !important;
}

textarea {
    outline: none !important;
}
/******************************** End default css*******************************************/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.product-container {
    max-width: 95%;
    width: 100%;
    margin: 0 auto;
}

.way-container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: block !important;
}
.all-overflow {
    overflow: hidden !important;
}

.slider-conteiner {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}


@font-face {
    font-family: PetcoCircularTT-Regular;
    src: url(../fonts/PetcoCircularTT-Regular.woff2) format("woff2"), url(../fonts/PetcoCircularTT-Regular.woff) format("woff");
}

@font-face {
    font-family: PetcoCircularTT-Bold;
    src: url(../fonts/PetcoCircularTT-Bold.woff2) format("woff2"), url(../fonts/PetcoCircularTT-Bold.woff) format("woff");
}

/**************************************/
/************ Splide Css*************/
/************************************/
.splide__container {
    box-sizing: border-box;
    position: relative;
}
.splide__list {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    transform-style: preserve-3d;
}
.splide.is-initialized:not(.is-active) .splide__list {
    display: block;
}
.splide__pagination {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    pointer-events: none;
}
.splide__pagination li {
    display: inline-block;
    line-height: 1;
    list-style-type: none;
    margin: 0;
    pointer-events: auto;
}
.splide__progress__bar {
    width: 0;
}
.splide {
    outline: none;
    position: relative;
    visibility: hidden;
}
.splide.is-initialized,
.splide.is-rendered {
    visibility: visible;
}
.splide__slide {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    list-style-type: none !important;
    margin: 0;
    outline: none;
    position: relative;
}
.splide__slide img {
    vertical-align: bottom;
}
.splide__slider {
    position: relative;
}
.splide__spinner {
    animation: splide-loading 1s linear infinite;
    border: 2px solid #999;
    border-left-color: transparent;
    border-radius: 50%;
    bottom: 0;
    contain: strict;
    display: inline-block;
    height: 20px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
.splide__track {
    overflow: hidden;
    position: relative;
    z-index: 0;
}
@keyframes splide-loading {
    0% {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}
.splide--draggable > .splide__slider > .splide__track,
.splide--draggable > .splide__track {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.splide--fade > .splide__slider > .splide__track > .splide__list,
.splide--fade > .splide__track > .splide__list {
    display: block;
}
.splide--fade > .splide__slider > .splide__track > .splide__list > .splide__slide,
.splide--fade > .splide__track > .splide__list > .splide__slide {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 0;
}
.splide--fade > .splide__slider > .splide__track > .splide__list > .splide__slide.is-active,
.splide--fade > .splide__track > .splide__list > .splide__slide.is-active {
    opacity: 1;
    position: relative;
    z-index: 1;
}
.splide--rtl {
    direction: rtl;
}
.splide--ttb.is-active > .splide__slider > .splide__track > .splide__list,
.splide--ttb.is-active > .splide__track > .splide__list {
    display: block;
}
.splide__arrow {
    -ms-flex-align: center;
    align-items: center;
    background: #ccc;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    height: 2em;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0.7;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2em;
    z-index: 1;
}
.splide__arrow svg {
    fill: #000;
    height: 1.2em;
    width: 1.2em;
}
.splide__arrow:hover {
    opacity: 0.9;
}
.splide__arrow:focus {
    outline: none;
}
.splide__arrow--prev {
    left: 1em;
}
.splide__arrow--prev svg {
    transform: scaleX(-1);
}
.splide__arrow--next {
    right: 1em;
}
.splide__pagination {
    bottom: 0.5em;
    left: 0;
    padding: 0 1em;
    position: absolute;
    right: 0;
    z-index: 1;
}
.splide__pagination__page {
    background: #ccc;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 3px;
    opacity: 0.7;
    padding: 0;
    transition: transform 0.2s linear;
    width: 8px;
}
.splide__pagination__page.is-active {
    background: #fff;
    transform: scale(1.4);
}
.splide__pagination__page:hover {
    cursor: pointer;
    opacity: 0.9;
}
.splide__pagination__page:focus {
    outline: none;
}
.splide__progress__bar {
    background: #ccc;
    height: 3px;
}
.splide--nav > .splide__slider > .splide__track > .splide__list > .splide__slide,
.splide--nav > .splide__track > .splide__list > .splide__slide {
    border: 3px solid transparent;
    cursor: pointer;
}
.splide--nav > .splide__slider > .splide__track > .splide__list > .splide__slide.is-active,
.splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
    border: 3px solid #000;
}
.splide--nav > .splide__slider > .splide__track > .splide__list > .splide__slide:focus,
.splide--nav > .splide__track > .splide__list > .splide__slide:focus {
    outline: none;
}
.splide--rtl > .splide__arrows .splide__arrow--prev,
.splide--rtl > .splide__slider > .splide__track > .splide__arrows .splide__arrow--prev,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev {
    left: auto;
    right: 1em;
}
.splide--rtl > .splide__arrows .splide__arrow--prev svg,
.splide--rtl > .splide__slider > .splide__track > .splide__arrows .splide__arrow--prev svg,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev svg {
    transform: scaleX(1);
}
.splide--rtl > .splide__arrows .splide__arrow--next,
.splide--rtl > .splide__slider > .splide__track > .splide__arrows .splide__arrow--next,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--next {
    left: 1em;
    right: auto;
}
.splide--rtl > .splide__arrows .splide__arrow--next svg,
.splide--rtl > .splide__slider > .splide__track > .splide__arrows .splide__arrow--next svg,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--next svg {
    transform: scaleX(-1);
}
.splide--ttb > .splide__arrows .splide__arrow,
.splide--ttb > .splide__slider > .splide__track > .splide__arrows .splide__arrow,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow {
    left: 50%;
    transform: translate(-50%);
}
.splide--ttb > .splide__arrows .splide__arrow--prev,
.splide--ttb > .splide__slider > .splide__track > .splide__arrows .splide__arrow--prev,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev {
    top: 1em;
}
.splide--ttb > .splide__arrows .splide__arrow--prev svg,
.splide--ttb > .splide__slider > .splide__track > .splide__arrows .splide__arrow--prev svg,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev svg {
    transform: rotate(-90deg);
}
.splide--ttb > .splide__arrows .splide__arrow--next,
.splide--ttb > .splide__slider > .splide__track > .splide__arrows .splide__arrow--next,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--next {
    bottom: 1em;
    top: auto;
}
.splide--ttb > .splide__arrows .splide__arrow--next svg,
.splide--ttb > .splide__slider > .splide__track > .splide__arrows .splide__arrow--next svg,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--next svg {
    transform: rotate(90deg);
}
.splide--ttb > .splide__pagination,
.splide--ttb > .splide__slider > .splide__pagination {
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    left: auto;
    padding: 1em 0;
    right: 0.5em;
    top: 0;
}


.splide_banner .splide__arrows {
    display: none;
}

.splide_unarrow .splide__arrows {
    display: none;
}
.keep-dog-inner-flex .splide__pagination {
    display: none;
}


.keep-dog-inner-flex .splide__arrow {
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    border: 1px solid #122359;
    border-radius: 50%;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    height: 3.2em;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3.2em;
    z-index: 1;
}

.keep-dog-inner-flex .splide__arrow--prev {
    display: none;
}

.keep-dog-inner-flex .splide__arrow svg {
    fill: #122359;
    height: 3.2em;
    width: 1.2em;
}

.keep-dog-inner-flex .splide__arrow--next {
    right: 2px;
}
/**************************************/
/************ Header  Area*************/
/************************************/



.slider-banner-content {
    position: absolute;
    top: 0;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    padding-bottom: 92px;
}

.slider-single-item img{
    width: 100%;
    height: auto;
}

.slider-single-item {
    position: relative;
    
}

.slider-banner-content > h2 {
    color: #ffffff;
    font-size: 56px;
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-weight: bold;
    width: 60%;
    display: block;
    padding-bottom: 25px;
    padding-top: 10px;
    line-height: 1.1;
}

.slider-banner-content > img {
    width: 445px;
    height: auto;
}
.slider-banner-content > p {
    color: #fff;
    font-size: 18px;
    font-family: "PetcoCircularTT-Regular", arial !important;
    font-weight: 400;
    display: block;
    margin-bottom: 25px;
    width: 42%;
}

.slider-banner-content > a {
    background: #001952;
    display: inline-block;
    color: #fff;
    padding: 18px 46px;
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.slider-banner-content > a:hover {
    background: #fff;
    color: #001952;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.banner-area .splide__pagination {
    width: 90px;
    list-style: none;
    text-align: center;
    left: calc(100%/2 - 45px);
    background: transparent;
    padding: 4px;
    height: 36px;
    border-radius: 5px 5px 0 0;
    bottom: 10px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.banner-area .splide__pagination__page {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 17px;
    height: 17px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    outline: 0;
    background: #fff;
    border: none;
    border-radius: 50%;
}

.banner-area .splide__pagination__page.is-active {
    opacity: 1;
    background: #BB9CA3;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    transition: 0.5s ease-in;
    transform: scale(1);
}
/**************************************/
/************ 3 easy way  Area*************/
/************************************/
.easy-way-area {
    padding-top: 40px;
    padding-bottom: 42px;
    background: #fff;
}

.easy-way-main-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.easy-single-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 259px;
            flex: 0 0 259px;
    text-align: center;
}
.pet-img > img {
    max-width: 220px;
    width: 100%;
    height: auto;
    border: 1px solid #d1e3f7;
    border-radius: 50%;
}
.common-heading {
    text-align: center;
}
.slider-single-item.slider-single-item2 .slider-banner-content > h2 {
    padding-bottom: 40px;
    padding-top: 19px;
}

.common-heading > h2 {
    display: block;
    padding-bottom: 50px;
    font-size: 25px;
    color: #000;
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-weight: bold;
}
.easy-single-item > h3 {
    padding-top: 31px;
    padding-bottom: 16px;
    font-size: 18px;
    color: #000;
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-weight: bold;
    display: block;
}

.easy-single-item > a {
    padding-top: 31px;
    padding-bottom: 16px;
    font-size: 18px;
    color: #000;
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-weight: bold;
    display: block;
}

.easy-single-item > p {
    color: #000000;
    font-size: 16px;
    font-family: "PetcoCircularTT-Regular", arial !important;
    font-weight: 400;
    width: 87%;
    margin: 0 auto;
    line-height: 1.2;
}

/**************************************/
/************ product slider  Area*************/
/************************************/
.slider-items.slick-initialized.slick-slider.slick-dotted {
    margin-bottom: 0;
}

.keep-your-dog-left > h4 {
    color: #000000;
    font-size: 25px;
    display: block;
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-weight: bold;
    padding-bottom: 10px;
}

.prep-bdr {
    background: #a6549c;
    width: 100%;
    height: 1px;
    margin-bottom: 18px;
}

.keep-your-dog-area {
    padding-top: 42px;
    padding-bottom: 40px;
    background: #fff;
}
.keep-your-dog-single-item-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.keep-your-dog-left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    overflow: hidden;
}

.keep-your-dog-right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding-right: 12px;
}

.keep-your-dog-inner-right {
    margin-left: 5px;
}

.keep-your-dog-inner-right > img {
    width: 100%;
    height: auto;
}
.keep-dog-inner-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
img {
    max-width: 100%;
}

.carousel-items .pro-next.slick-arrow {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 40px !important;
    height: 40px !important;
    z-index: 99;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

/*.keep-dog-inner-flex > svg {
    width: 200px;
    cursor: pointer;
}*/

.slider-banner-content > h2 > sup {
    font-size: ;
    font-size: 30px;
    font-family: "PetcoCircularTT-Regular", arial !important;
    font-weight: 400;
}

.wrapper .slick-slider {
    margin-bottom: 0px;
}

/*.dog-keep-img.prep-inner-img > a > img {
    width: 74px;
    margin: 0 auto;
    text-align: center;
    display: block;
}*/
.slice-area > h5 > sup {
    font-size: 15px;
    font-family: "PetcoCircularTT-Regular", arial !important;
    font-weight: 400;
}

.dog-keep-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 180px;
}

.dog-keep-img a > img {
    max-width: 180px;
    width: 100%;
    height: auto;
}

.keep-dog-lear-items > p {
    color: #333333;
    font-size: 13px;
    font-family: "PetcoCircularTT-Regular", arial !important;
    font-weight: 400;
    padding-top: 21px;
    min-height: 78px;
}
.keep-dog-lear-items > a {
    color: #001952;
    font-size: 16px;
    font-weight: bold;
    font-family: "PetcoCircularTT-Bold", arial !important;
    text-decoration: underline;
}

.keep-your-dog-left > span {
    color: #022169;
    font-size: 11px;
    font-family: "PetcoCircularTT-Regular", arial !important;
}

.keep-your-dog-left > p {
    color: #022169;
    font-size: 16px;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-family: "PetcoCircularTT-Regular", arial !important;
}

.populer-common-heading-keep h2 {
    margin-bottom: 65px;
}
.keep-dog-lear-items {
    margin: 0px 12px;
}

.slice-area {
    text-align: center;
    display: block;
    padding-top: 63px;
    padding-bottom: 60px;
    background: #61bdd2;
}

.slice-area > h5 {
    color: #001952;
    font-size: 22px;
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-weight: bold;
}

.banner-slider-mobile-view {
    display: none;
}
.banner-slider-desktop-view {
    display: block;
}

/**************************************/
/************ Mesia Query  Area*************/
/************************************/
@media all and (min-width: 1560px) {
      .slider-banner-content > h2 {
        width: 32% !important;
    }
    .slider-banner-content > p {
        width: 25%;
    }
     .slider-single-item {
        max-height: 600px;
        min-height: 600px;
    }
}
@media all and (min-width: 1440px) {
    .product-container {
        max-width: 1380px;
    }
   
    .slider-banner-content > h2 {
        width: 50%;
    }
}

@media all and (max-width: 1280px) {
    .slider-conteiner {
        max-width: 95%;
    }
    .slider-banner-content > h2 {
        font-size: 44px;
    }
/*    .dog-keep-img.prep-inner-img > a > img {
        width: 50px;
    }*/
    .slider-banner-content {
        padding-top: 35px;
    }
    .keep-dog-lear-items > p {
        font-size: 12px;
    }
}

@media all and (max-width: 991px) {
    .slider-banner-content > img {
        width: 245px;
    }
   .slider-banner-content > h2 {
        font-size: 30px;
        padding-bottom: 10px;
        padding-top: 5px;
        width: 50%;
    }
    .slider-banner-content {
        padding-top: 20px;
    }
    .slider-single-item.slider-single-item2 .slider-banner-content > h2 {
        padding-bottom: 15px;
        padding-top: 5px;
    }

 /*   .slider-single-item {
        max-height: 420px;
        min-height: 420px;
        padding-top: 100px;
        padding-bottom: 92px;
    }*/
    .keep-your-dog-right {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        margin-bottom: 20px;
    }
    .keep-your-dog-left {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
    }


}

@media all and (max-width: 767px) {
    .keep-dog-inner-flex .splide__arrow {
        display: none;
    }
    .splide_banner_mobile .splide__arrows {
        display: none;
    }
    .easy-way-main-flex {
        overflow-x: auto;
    }

    .easy-way-main-flex::-webkit-scrollbar {
        display: none;
    }


    .easy-way-main-flex {
        -ms-overflow-style: none;
        scrollbar-width: none; 
    }
    .easy-single-item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 67%;
                flex: 0 0 67%;
    }

    .banner-slider-mobile-view {
        display: block;
    }
    .banner-slider-desktop-view {
        display: none;
    }
    .mobile-slider-x img {
        width: 100%;
        height: auto;
    }
    .slider-single-itemx-mobile {
        background: inherit !important;
        max-height: inherit;
        min-height: inherit;
        padding: 0;
    }
    .slider-conteiner {
        max-width: 100%;
    }
    .slider-banner-content {
        background: #a6549c;
        text-align: center;
        border-top: 10px solid #001952;
        border-bottom: 10px solid #001952;
    }
    .slider-banner-content > img {
        width: 226px;
        margin: 0 auto;
        padding-top: 35px;
    }

    .slider-banner-content > h2 {
        font-size: 25px;
        margin: 0 auto;
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .slider-banner-content > p {
        font-size: 16px;
        width: 53%;
        margin: 0 auto;
        margin-bottom: 18px;
        line-height: 1.4;
    }

    .slider-banner-content > a {
        background: transparent;
        display: inline-block;
        color: #fff;
        font-size: 16px;
        margin-bottom: 40px;
        text-decoration: underline;
    }
    .slider-banner-content > a:hover {
        background: transparent;
        color: #fff;
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
    }

    .carousel-items .pro-next.slick-arrow {
        display: none !important;
    }

    .m-dnone {
        display: none !important;
    }
    .slider-banner-content {
        position: inherit;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .slider-single-item.slider-single-item2 .slider-banner-content > h2 {
        padding-bottom: 25px;
        padding-top: 18px;
    }

    .slider-items .slick-dots {
        bottom: 25px;
    }


}

@media all and (max-width: 575px) {
    .slider-banner-content > h2 {
        width: 92%;
    }
    .slider-banner-content > p {
        width: 71%;
    }
    .slider-banner-content > a {
        padding: 5px 46px;
    }
    .slider-items .slick-dots {
        bottom: 26px;
    }
    .common-heading > h2 {
        padding-bottom: 30px;
        width: 55%;
        margin: 0 auto;
    }
    .easy-way-area {
        padding-top: 27px;
        padding-bottom: 27px;
    }
    .keep-your-dog-area {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .keep-dog-lear-items > p {
        min-height: 75px;
    }
    .keep-dog-lear-items > p {
        font-size: 13px;
    }
    .slice-area > h5 {
        font-size: 18px;
        width: 90%;
        margin: 0 auto;
    }
}



@media all and (max-width: 374px) {
    .common-heading > h2 {
        width: 65%;
    }
    .easy-single-item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 67%;
                flex: 0 0 67%;
        margin: 15px;
    }
}


